<% @posts.each do |post| %>
<div>

  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpeg' %></p>
  <p>ショップ名：<%= post.shop_name %></p>
  <p>説明：<%= post.caption %></p>
  <p>ユーザーネーム：<%= post.user.name %></p>
</div>
<% end %>
